$body-font-family := Menlo, Monaco, Consolas, 'Roboto', sans-serif

@import "~vuetify/src/stylus/main"

* {
  padding 0
  margin 0
}

body {
  height 100vh
  overflow hidden
  background $body-bg-dark
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow none 0 0 0 rgba(0, 0, 0, 0.5)
}

*::-webkit-scrollbar {
  width 3px
  height 3px
}

*::-webkit-scrollbar-thumb {
  background-color $body-bg-dark
}
